# Focus task configuration file

task {

    #-------------------------------------------------------------------
    # Duration (minutes) - Ends the task after specified duration.
    #-------------------------------------------------------------------

    duration 30;


    #-------------------------------------------------------------------
    # Timer Actions - Actions to execute after timer elapses.
    #-------------------------------------------------------------------

    #timer_actions {
    #    play "/path/to/file";  # play the specified sound file.
    #
    #    # execute script, command, or program.
    #    run "/path/to/script";  # can include arguments, multiple paths
    #}


    #-------------------------------------------------------------------
    # End Actions - Actions to execute when task is manually ended.
    #-------------------------------------------------------------------

    #end_actions {
    #    play "/path/to/file";  # play the specified sound file.
    #
    #    # execute script, command, or program.
    #    run "/path/to/script";  # can include arguments, multiple paths
    #}


    #-------------------------------------------------------------------
    # Block Sites - Website domains to block.
    #-------------------------------------------------------------------

    #sites {
    #    block domain1, domain2, "domain3", "http://domain4.com";
    #
    #    # examples:
    #    block youtube.com, "http://www.reddit.com", 'plus.google.com';
    #    block myspace.com, deviantart.com, lifehacker.com;
    #    block news.ycombinator.com, twitter.com, "www.facebook.com";
    #}


    #-------------------------------------------------------------------
    # Apps - Applications or scripts to start, close, or block.
    #-------------------------------------------------------------------

    #apps {
    #    # execute script, command, or program.
    #    run "/path/to/script";  # can include arguments, multiple paths
    #
    #    # close programs at task start
    #    close program-name;
    #    close "/path/to/binary";
    #
    #    # block programs during task run
    #    block program-name;
    #    block "/path/to/binary";
    #
    #    # examples:
    #    run 'whoami >> /tmp/focus_whoami', firefox;
    #    run /usr/bin/chromium, 'google\ chrome';
    #}

}
